/Practica_78/nbproject/private/
/Practica_78/build/
/Practica_79/nbproject/private/
/Practica_79/build/
/Practica 76/nbproject/private/
/Practica 78/nbproject/private/
/Practica 79/nbproject/private/
/Practica 81/nbproject/private/
/Practica 82/nbproject/private/
/Practica 80/nbproject/private/
/Practica 82/build/
/Practica 83/nbproject/private/
/Practica 90/nbproject/private/
/Practica 85/build/
/Practica 76/dist/
/Practica 77/dist/
/Practica 78/dist/
/Practica 79/dist/
/Practica 80/dist/
/Practica 81/dist/
/Practica 83/dist/
/Practica 84/dist/
/Practica 85/dist/
/Practica 86/dist/
/Practica 90/dist/